<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/header.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
  </head>
  <body>
    <div class = "header">
      <a href="/" style="font-family: League spartan; text-decoration: none;"><h1>Solopods</h1></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">SOLOPODS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</span></a>
          </li>
          <% if (user) { %>
            <% if (user && user.rol === 'user') { %>
            <li class="nav-item">
              <a class="nav-link" href="/order">Make Order</a>
            </li>
            <% } %>
            <% if (user && user.rol === 'admin') { %>
              <li class="nav-item">
                <a class="nav-link" href="/roles">Roles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/stock">Stock</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/order">Make Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/chat-online">Chat</a>
              </li>
            <% } %>
            <% if (user && user.rol === 'supplier') { %>
              <li class="nav-item">
                <a class="nav-link" href="/stock">Stock</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/chat-online">Chat</a>
              </li>
            <% } %>
            <% if (user && user.rol === 'vipuser') { %>
              <li class="nav-item">
                <a class="nav-link" href="/order">Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/chat-online">Chat</a>
              </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/collabs">Collabs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/collabs">Collabs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          <% } %>
        </ul>
        <% if (user) { %>
          <div>Welcome <%= user.username %>!</div>
        <% } %>
      </div>
    </nav>