    /*css for login.html*/

    #loginMain {
        padding: 0px;
    }
    #loginContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    
    #leftContainer {
        flex: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 420px;
    }
    
    #rightContainer {
        flex: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;  /* text color for the black box */
        height: 420px;
    }
    
    #loginregistrationContainer{
        height: 400px;
        width: 100%;
        max-width: 250px; /* Adjust this value if necessary */
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        border: 2px solid #000;  /* Example: 2-pixel solid black border */
        border-radius: 15px; 
        background-color: snow;
    }
    
    #loginForm {
        height: 400px;
        width: 100%;
        max-width: 500px; /* Adjust this value if necessary */
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        border: 2px solid #000;  /* Example: 2-pixel solid black border */
        background-color: snow;
        border-radius: 15px; 
    }
    
    /*css for all inputs, buttons and a tags of registrar.html, login.html, olividadoContresena.html*/
    input {
        align-items:normal;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    
    button {
        padding: 15px;
        margin: 5px;
        background-color: #67b0ff;
        border: 2px solid;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #1e8bff;
    }
    
    
    a:hover {
        text-decoration: underline;
    }
    
    /*css for registrar.html and olividadoContresena.html*/
    #registrarContainer,
    #olvidadoContraseñaContainer {
        display:flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10px; 
    }   
    
    #registrarForm,
    #olvidadoContraseñaForm{
    height: auto;
    width: 100%;
    max-width: 500px; /* Adjust this value if necessary */
    align-items: stretch;
    text-align: center;
    border: 2px solid #000;  /* Example: 2-pixel solid black border */
    border-radius: 15px; 
    background-color: snow;
    }
    
    #registrarNombreYApellido{
        display: flex;
    }
    
    #nombre,
    #apellido{
        display: flex;
        flex: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
    } 